
.blue-bg{
    background-color: #0c243c;
}
.text-blue{
    color: #0c243c;
}
.hero_bg{
position: relative;
}
.hero_img{

    opacity: 0.5;
}
.hero_content{
    position: absolute;
    top: 30%;
    
}
